{% extends "layout.html" %}

{% set active_page = "locations" %}

{% block title %}Locations{% endblock %}

{% block content %}
    <!--page content-->
	<div class="center">
		
		<br>
		<h1>Wind Turbine Location Statistics</h1>
		<br>
		<form action="/locationform">
			<h1>Select a state to learn more!</h1>
			<p>(States not shown do not have any wind turbines)</p>
			<br>
			<select name="state">
				{% for option in options %}
					<option value={{ option }}>{{ option | e }}</option>
				{% endfor %}
			</select>
			<br>
			<br>
			<input type="submit">
		</form>
		<br>
		<h1>{{ keyhighlow }}</h1>
		<br>
		<br>
		{% for i in response %}
			<!-- Safe filter is for safe info, allows me to pass html elements as jinja variables (i can be an element instead of just a string) -->
			<!-- In this case I know the info will be safe because response will only have data about a single state stored in it, and the user can't manipulate the response variable at all -->
			{{ i|safe }}
		{% endfor %}
		
	</div>
{% endblock %}
